@{
    ViewBag.Title = "Delete this comment?";
}
<h2>Delete this Comment?</h2>
@using (Html.BeginForm("EditComment", "BlogPosts", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <input type="hidden" name="PostId" value="@Model.PostId" />
    @(Model.Body)

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="DeleteComment" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}